CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build

deps/glad/*

deps/imgui

assignment*

.clang*
.cache
src/aux/png/stb_image.h
res/images/*

